# 作成処理の確認

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = "MS Gothic" # Use this font to avoid encoding error
import os

import sys
sys.path.append('../src/')
sys.dont_write_bytecode = True  # __pycache__ 生成を防ぐ

from vege_preprocess import Weather, Preprocess

# 気象データ処理の確認

### シュートリアルのコードの確認

In [2]:
init_df = pd.read_csv('../data/weather.csv', nrows =1)

In [3]:
wea_df = pd.read_csv('../data/weather.csv', dtype = init_df.head(1).dtypes.astype('str').str.replace('64', '32').to_dict())
print(wea_df.shape)
wea_df

# 年度情報を抜き出し
wea_df['year'] = wea_df['date'].apply(lambda x: int(str(x)[:4]))
wea_df['month'] = wea_df['date'].apply(lambda x: int(str(x)[4:6]))

# =========================================================================================================
# 集計作業その1
agg_cols = ['mean_temp', 'max_temp', 'min_temp', 'sum_rain', 'sun_time', 'mean_humid']
gb_df = wea_df.groupby(['area', 'year', 'month'])[agg_cols].agg(['mean','max','min']).reset_index()

new_cols = []
for col1, col2 in gb_df.columns:
    if col2:
        new_cols.append(col2+'_'+col1)
    else:
        new_cols.append(col1)
gb_df.columns = new_cols

# =========================================================================================================
# 集計作業その2
agg_cols = [i for i in gb_df.columns if i not in ['year', 'month', 'area']]
tmp_df = gb_df.groupby(['year', 'month'])[agg_cols].agg(['mean']).reset_index()

new_cols = []
for col1, col2 in tmp_df.columns:
    new_cols.append(col1)
tmp_df.columns = new_cols
tmp_df['area'] = '全国'
tmp_df = tmp_df[gb_df.columns]

# =========================================================================================================
# 結合作業
out_df = pd.concat([gb_df, tmp_df])

(204320, 10)

In [4]:
out_df#.area#.sort_values('area')

,area,year,month,mean_mean_temp,max_mean_temp,min_mean_temp,mean_max_temp,max_max_temp,min_max_temp,mean_min_temp,...,min_min_temp,mean_sum_rain,max_sum_rain,min_sum_rain,mean_sun_time,max_sun_time,min_sun_time,mean_mean_humid,max_mean_humid,min_mean_humid
0,仙台,2004,11,11.256000,16.400000,4.400000,15.196000,19.299999,7.500000,7.152000,...,1.100000,1.340000,20.000000,0.0,4.436000,9.400000,0.000000,68.320000,93.00000,45.00000
1,仙台,2004,12,5.422581,13.300000,-1.200000,9.212903,21.600000,0.400000,1.825806,...,-4.400000,2.048387,42.000000,0.0,4.441936,8.900000,0.000000,64.225807,86.00000,46.00000
2,仙台,2005,1,1.590323,5.400000,-2.000000,5.077419,11.100000,0.600000,-1.809677,...,-5.600000,2.000000,44.500000,0.0,3.938710,9.400000,0.000000,69.709679,92.00000,51.00000
3,仙台,2005,2,0.828571,3.000000,-1.300000,4.335714,8.600000,0.300000,-2.221429,...,-4.700000,2.000000,25.000000,0.0,4.392857,9.000000,0.000000,68.750000,89.00000,48.00000
4,仙台,2005,3,4.061290,8.200000,-1.200000,8.332258,13.500000,0.100000,0.225806,...,-4.600000,1.903226,28.000000,0.0,5.522581,10.800000,0.000000,63.000000,89.00000,43.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,全国,2021,12,6.865927,12.515625,0.768750,11.254233,17.865625,3.565625,2.880746,...,-2.609375,2.730847,30.562500,0.0,5.176210,9.109375,0.062500,68.081650,89.53125,49.62500
206,全国,2022,1,4.046069,7.256250,0.859375,8.298690,12.337500,3.906250,0.276109,...,-3.653125,1.477319,20.171875,0.0,5.263206,9.231250,0.003125,64.570564,89.18750,49.43750
207,全国,2022,2,4.209933,8.478125,0.787500,8.639286,14.621875,3.737500,0.331696,...,-3.053125,1.676897,17.187500,0.0,5.717634,10.218750,0.012500,62.570312,87.65625,46.65625
208,全国,2022,3,9.924496,15.990625,4.509375,15.028427,22.528126,7.868750,5.475907,...,0.087500,3.296371,38.281250,0.0,5.885484,11.046875,0.009375,66.190521,89.40625,43.00000
209,全国,2022,4,14.923750,21.221874,7.875000,20.202812,27.493750,11.493750,10.224688,...,2.965625,4.550521,40.140625,0.0,6.701979,12.243750,0.000000,68.195831,93.03125,44.62500

In [5]:
test2 = Weather()
res = test2.weather_preprocess()
res.sort_values('area')

,area,year,month,mean_mean_temp,max_mean_temp,min_mean_temp,mean_max_temp,max_max_temp,min_max_temp,mean_min_temp,...,min_min_temp,mean_sum_rain,max_sum_rain,min_sum_rain,mean_sun_time,max_sun_time,min_sun_time,mean_mean_humid,max_mean_humid,min_mean_humid
0,仙台,2004,11,11.256000,16.400000,4.400000,15.196000,19.299999,7.500000,7.152000,...,1.100000,1.340000,20.0,0.0,4.436000,9.4,0.0,68.320000,93.0,45.0
134,仙台,2016,1,2.419355,8.600000,-0.900000,6.164516,12.700000,1.600000,-0.825806,...,-3.600000,2.177419,53.5,0.0,4.083871,8.2,0.0,65.483871,83.0,58.0
135,仙台,2016,2,3.482759,11.800000,0.200000,8.055172,20.900000,3.400000,-0.427586,...,-3.900000,0.603448,17.0,0.0,5.437931,10.2,0.0,60.103447,76.0,49.0
136,仙台,2016,3,6.996774,12.800000,0.700000,11.719355,18.000000,3.100000,2.864516,...,-1.900000,0.274194,3.0,0.0,6.225807,11.5,0.0,55.774193,83.0,40.0
137,仙台,2016,4,11.890000,16.000000,6.200000,16.453333,23.200001,8.800000,7.720000,...,2.200000,6.000000,66.0,0.0,6.410000,12.2,0.0,60.700001,93.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6646,鹿児島,2016,3,13.322580,19.000000,5.400000,18.190323,24.000000,10.400000,9.212903,...,1.800000,7.161290,87.5,0.0,6.412903,11.3,0.0,67.129036,94.0,49.0
6645,鹿児島,2016,2,9.582759,19.000000,4.600000,14.437931,21.400000,8.200000,5.527586,...,1.200000,3.965517,55.5,0.0,4.924138,10.1,0.0,65.068962,90.0,45.0
6644,鹿児島,2016,1,8.977419,15.600000,-0.400000,12.974194,19.799999,2.900000,5.445161,...,-5.300000,5.129032,85.5,0.0,2.825806,9.8,0.0,77.548386,97.0,59.0
6616,鹿児島,2013,9,26.799999,29.299999,24.100000,30.936666,34.099998,27.400000,23.513332,...,19.799999,11.450000,138.5,0.0,7.370000,11.5,0.0,68.166664,93.0,44.0
6615,鹿児島,2013,8,29.961290,31.700001,27.299999,34.709679,37.099998,28.799999,26.822580,...,22.900000,3.000000,37.5,0.0,7.354839,12.5,0.0,73.258064,88.0,63.0

In [6]:
print(set(res.columns) - set(out_df.columns))
print(set(out_df.columns) - set(res.columns))

set()
set()

In [7]:
(res.drop('area', axis = 1).to_numpy()  - out_df.drop('area', axis =1).to_numpy()).sum()

0.0

In [8]:
(res != out_df).sum().sum()

0

In [9]:
test = Preprocess()
test.preprocess_train_test()
test.get_weather_data()
test.add_weather_features()

In [10]:
test.wea_df

,year,month,mean_mean_temp,max_mean_temp,min_mean_temp,mean_max_temp,max_max_temp,min_max_temp,mean_min_temp,max_min_temp,...,mean_sum_rain,max_sum_rain,min_sum_rain,mean_sun_time,max_sun_time,min_sun_time,mean_mean_humid,max_mean_humid,min_mean_humid,area
0,2004.0,11.0,14.596000,19.299999,9.60,18.340000,22.200001,12.40,11.228000,17.40,...,5.840000,87.00,0.0,5.084000,9.500000,0.0,71.760002,93.0,43.0,千葉
1,2004.0,12.0,9.641935,19.000000,2.20,13.564516,24.299999,3.80,6.138710,11.50,...,2.435484,26.00,0.0,5.509677,9.400000,0.0,58.612904,86.0,37.0,千葉
2,2005.0,1.0,6.277420,13.100000,3.10,10.461290,17.200001,5.20,2.522581,6.40,...,3.338710,66.50,0.0,6.612903,9.800000,0.0,54.838711,89.0,32.0,千葉
3,2005.0,2.0,5.960714,12.000000,3.30,9.864285,15.400000,5.10,2.060714,4.60,...,1.910714,11.50,0.0,5.225000,9.700000,0.0,55.714287,93.0,31.0,千葉
4,2005.0,3.0,8.800000,13.700000,1.60,13.122581,18.400000,3.60,4.596774,10.00,...,2.612903,22.50,0.0,5.529032,11.300000,0.0,59.129032,91.0,31.0,千葉
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2021.0,12.0,3.674194,9.500000,-2.35,7.722581,14.600000,-0.65,0.106452,6.75,...,6.064516,35.25,0.0,3.033871,8.550000,0.0,82.064514,97.5,63.5,新潟_長野
206,2022.0,1.0,0.517742,4.200000,-2.00,3.796774,8.200000,0.80,-2.572581,1.65,...,2.669355,16.75,0.0,3.366129,8.350000,0.0,78.548386,93.0,63.5,新潟_長野
207,2022.0,2.0,0.883929,4.550000,-1.80,4.471428,10.850000,-0.50,-2.244643,0.45,...,2.758929,17.00,0.0,3.326786,8.350000,0.0,77.892860,92.5,63.0,新潟_長野
208,2022.0,3.0,6.453226,13.400000,1.35,11.838710,19.600000,4.55,1.927419,9.55,...,2.137097,21.25,0.0,5.272581,10.650000,0.0,70.790329,90.5,53.0,新潟_長野
209,2022.0,4.0,12.395000,19.799999,4.85,18.693333,26.900002,8.60,7.243333,16.25,...,3.416667,30.25,0.0,6.795000,12.299999,0.0,68.816666,93.5,47.0,新潟_長野